body {
	margin: 0;
 	padding: 0;
 	background-image: url('../images/background.jpg');
 	background-repeat: no-repeat;


}

h1 {

	display: flex;
	justify-content: center;
	font-size: 32pt;
	padding: 5%;
	font-weight: bold;
	font-family: "Dark Crystal", serif;
	color: indigo;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;


}

h2 {

	display: flex;
	justify-content: center;
	font-size: 28pt;
	font-family: "Dark Crystal", serif;
	font-weight: bold;
	color: indigo;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

p {

	text-align: center;
	font-size: 18pt;
}

.instructions {
	text-align: center;
	font-family: "Graphik", serif;
	font-size: 12pt;
	margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60);
    
}


.crystalImages {

	max-height: 100px;
	max-width: 100px;
	margin: auto;

}

#crystalOne {
	margin-left: 5%;
	display: flex-end;
	justify-content: space-between;



}

.randomNumber {
	
	display: flex-end;
	justify-content: space-between;
	font-size: 32pt;
	margin-top: 10px;
	align-items: right;
	margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    font-family: "Dark Crystal", serif;
    filter: alpha(opacity=60);
	float: left;
	padding-right: 150px;
	padding-bottom: 130px;


	
}


h4 {
	
 	color: indigo;
 	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.score {
	margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60);
    font-family: "Dark Crystal", serif;
	font-weight: bold;
	float: right;
	padding-left: 143px;
	padding-bottom: 130px;



}


#win{
	float: left;
	text-align: center;
	font-family: "Dark Crystal", serif;
	font-weight: bold;
	font-size: 25pt;
}



h3 {
	color: indigo;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	margin: auto;
}




#loss {
	text-align: center;
	font-family: "Dark Crystal", serif;
	font-weight: bold;
	float: right;
	font-size: 25pt;

}


h4 {

	color: indigo;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;


}