body {


};




.header {
	position: flex;
	justify-content: center;
	text-align: center;

};


h1 {

	position: flex;
	justify-content: center;
}


.crystalImages {

	max-height: 100px;
	max-width: 100px;
}